In [251]:
import pandas as pd

In [252]:
df_2013 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2013.csv")
#df_2014 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2013.csv")
df_2015 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2015.csv")
df_2016 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2016.csv")
df_2017 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2017.csv")
df_2018 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2018.csv")
df_2019 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2019.csv")
df_2020 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2020.csv")
df_2021 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2021.csv")
df_2022 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2022.csv")
df_2023 = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\World Happiness Report 2023.csv")
df_index = pd.read_csv(r"C:\Users\Sávio\Desktop\estudos_prog\Projeto_Tecnicas_de_Programacao_I\data\WorldHappinessIndex2013-2023.csv")

In [253]:
anos = [2013, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
dfs = [df_2013, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023]

In [254]:
for i in range(len(dfs)):
    dfs[i]['Year'] = anos[i]

In [255]:
df_2020_select = df_2020[['Country name','Ladder score','Explained by: Log GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]

In [256]:
df_2018.drop(columns='Overall rank', inplace=True)
df_2019.drop(columns='Overall rank', inplace=True)

In [257]:
df_2018.rename(columns={'Country or region': 'Country'}, inplace=True)
df_2019.rename(columns={'Country or region': 'Country'}, inplace=True)
df_2020_select.rename(columns={'Country name': 'Country',
                               'Ladder score':'Score'}, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\1269078788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_select.rename(columns={'Country name': 'Country',

In [258]:
df_2018.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [259]:
df_2019.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [261]:
df_2021_select = df_2021[['Country name','Ladder score','Explained by: Log GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption','Year']]

In [262]:
df_2020_select.rename(columns={'Country name':'Country',
                        'Ladder score':'Score',
                        'Explained by: Log GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Social support':'Social support',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\668414747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_select.rename(columns={'Country name':'Country',

In [269]:
df_2020_select

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2020
1,Denmark,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2020
2,Switzerland,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2020
3,Iceland,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2020
4,Norway,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2020
...,...,...,...,...,...,...,...,...,...
148,Central African Republic,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2020
149,Rwanda,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,2020
150,Zimbabwe,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,2020
151,South Sudan,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,2020
152,Afghanistan,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,2020

In [263]:
df_2021_select.rename(columns={'Country name':'Country',
                        'Ladder score':'Score',
                        'Explained by: Log GDP per capita':'GDP per capita',
                        'Explained by: Perceptions of corruption':'Perceptions of corruption',
                        'Explained by: Generosity':'Generosity',
                        'Explained by: Freedom to make life choices':'Freedom to make life choices',
                        'Explained by: Social support':'Social support',
                        'Explained by: Healthy life expectancy':'Healthy life expectancy'
                        }, inplace=True)

C:\Users\Sávio\AppData\Local\Temp\ipykernel_3448\3062431399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_select.rename(columns={'Country name':'Country',

In [264]:
df_2021_select.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481,2021
1,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2021
2,Switzerland,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2021
3,Iceland,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2021
4,Netherlands,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2021

In [265]:
valores = [df_2018, df_2019, df_2020_select, df_2021_select]

In [266]:
df_concat = pd.concat(valores)
df_concat.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [267]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       614 non-null    object
 1   Score                         614 non-null    float64
 2   GDP per capita                614 non-null    float64
 3   Social support                614 non-null    float64
 4   Healthy life expectancy       614 non-null    float64
 5   Freedom to make life choices  614 non-null    float64
 6   Generosity                    614 non-null    float64
 7   Perceptions of corruption     613 non-null    float64
 8   Year                          614 non-null    int64
dtypes: float64(7), int64(1), object(1)
memory usage: 48.0+ KB

In [268]:
df_index.sort_values(by='Rank')

          Country  Year  Index  Rank
1465      Finland  2022  7.821   1.0
263   Switzerland  2015  7.587   1.0
1256      Finland  2021  7.842   1.0
19        Denmark  2013  7.693   1.0
1082      Finland  2020  7.809   1.0
...           ...   ...    ...   ...
1637  Puerto Rico  2023    NaN   NaN
1642        Qatar  2023    NaN   NaN
1645     Djibouti  2023    NaN   NaN
1663        Congo  2023    NaN   NaN
1666       Rwanda  2023    NaN   NaN

[1670 rows x 4 columns]